
<div class="jumbotron">
  <h1>Contact</h1>

  <p>
    This text comes from views/contact.html.
  </p>

  <p>The demo was created by <a href='http://ahinea.com/en/'>Ivan Kurmanov.</a></p>

  <p>The github repo for this demo is 
  	<a href='https://github.com/kurmanka/angularjs-routing-demo/ '>here</a>.
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#">Return to Home.</a></p>

</div>


<div class='row marketing'>

	<div class='col-lg-6'>
		<h4>AngularJS</h4>
		<p><a href='http://angularjs.org'
			>angularjs.org</a></p>
	</div>

	<div class='col-lg-6'>
		<h4>Yeoman</h4>
		<p><a href='http://yeoman.io'
			>yeoman.io</a></p>
	</div>
	
	<div class='col-lg-6'>
		<h4>Angular generator for Yeoman</h4>
		<p><a href='https://github.com/yeoman/generator-angular'
			>github.com/yeoman/generator-angular</a></p>
	</div>

	<div class='col-lg-6'>
		<h4>Twitter Bootstrap</h4>
		<p><a href='http://getbootstrap.com'
			>getbootstrap.com</a></p>
	</div>


</div>