
<div class="jumbotron" title='comes from main.html'>
  <h1>Privet! Hola!</h1>

  <p>This content comes from the views/main.html file.</p>

  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    This demo was created with some help from 
    <a href='http://yeoman.io/'>Yeoman</a>.
  </p>

  <p><a class="btn btn-lg btn-success" ng-href="#/about">Go to the About page</a></p>

</div>

<div class="row marketing" title='comes from main.html'>
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

